body {
    margin: 0;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

.width_container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}

#personal_videos,
#recommended_videos,
#food_drink_videos {
    padding-top: 20px;
    margin-bottom: 30px;
}

.header_section {
    display: flex;
    justify-content: space-between;
}

.header_logo,
.button_arrows {
    display: flex;
    gap: 20px;
}

.header_section img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header_section  h1 {
    font-family: 'Mulish', sans-serif;
    white-space: nowrap;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 100%;
    letter-spacing: 0px;
    margin: 12px 0 5px 0;
}

.scroll_arrows_container {
    display: flex;
    gap: 10px;
    margin: 22px 184px 0 0;
}

.scroll_arrows_container img {
    width: 28px;
    height: 28px;
    margin: 0;
}

.videos_container{
    display: flex;   
    gap: clamp(10px, 2vw, 32px);
    margin-top: 28px;
}

.personal_video,
.recommended_video,
.food_video {
    flex: 1 1;
    position: relative;
}

.personal_video img,
.recommended_video img,
.food_video img {
    width: 100%;
    height: 150px;
    border-radius: 14px;
    object-fit: cover;
    display: block;
}

.video_duration {
    position: absolute;
    top: 116px;
    right: 10px;
    background-color: black;
    opacity: 70%;
    width: 47px;
    height: 24px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_duration span {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 100%;
    letter-spacing: 0px;
    color: white;
}

.videos_container h2{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 100%;
    letter-spacing: 0px;
    color: #19202C;
    margin: 10px 0 4px 0;
}

.video_details {
    display: flex;
    justify-content: space-between;
}

.video_details span,
#food_drink_videos .header_section span,
.subscribe_button {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 100%;
    letter-spacing: 0px;
    color: #C2C2C2;
}

.recommended_video img {
    height: 250px;
}

.recommended_video .video_duration {
    top: 216px;
}

#food_drink_videos .header_section span {
    font-size: 1.6rem;
    margin-top: 20px;
    white-space: nowrap;
}

.subscribe_button {
    width: 154px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: red ;
    font-size: 1.6rem;
    color: white;
    margin-top: 10px;
    white-space: nowrap;
    flex-shrink: 0;
}